@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;500&family=Poppins:wght@100;200;300;400&display=swap');
:root {
	--bg-freespace: hsl(200 50% 50%);
	--bg-cards: hsla(237, 35%, 22%, 0.698);
	--bg-cards-active: hsla(312, 54%, 36%, 0.698);
	--card-font-color: hsl(16, 27%, 92%);
	--pie-text: hsl(237, 24%, 15%);
	--pie-blue: hsl(226, 80%, 84%);
	--pie-yellow-green: hsl(81, 78%, 80%);
	--pie-pink: hsl(305, 100%, 88%);
	--pie-turquoise: hsl(180, 79%, 82%);
	--pie-lavandar: hsl(278, 80%, 88%);
	--pie-beige: hsl(32, 88%, 81%);
	--pie-posse: hsl(325, 79%, 85%);
	--pie-lime: hsl(71, 88%, 76%);
	--pie-brown: hsl(43, 100%, 66%);
}
body {
	width: 100%;
	height: 100%;

}
.tile-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: .5rem;
	width: calc( 100vh * 1.2 );
	height: 100vh;
	margin: auto
}
.tile > rect {
	fill: var(--bg-cards);
}
.tile.active  > rect {
	fill: var(--bg-cards-active);
}
.tile text, .freespace text { fill: yellow; text-anchor: middle;
	dominant-baseline: middle; }
.tile.active text { fill:var(--card-font-color) }
#covfefe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#covfefe > circle {
	animation-name: fall;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: translate3d(10px, 0px, 100000px);
}

@keyframes fall {
	 100% { transform: translateY(200vh); }
}

/** pie chart  **/

.piechart text { font-family: helvetica, sans-serif; font-size: .1px; transform: rotate(22deg) translate( 8.6em, -.35em) scale(-1, -1); pointer-events: none; }
.pie { fill:none; stroke:seagreen; stroke-width:.95; stroke-dasharray:calc(12.25 * 31.24 / 1000) 31.24; }
.piechart > *:hover { filter: hue-rotate(-0.65turn); cursor: pointer; }
.pie-blue { stroke: var(--pie-blue); }
.pie-yellow-green { stroke: var(--pie-yellow-green); }
.pie-pink { stroke: var(--pie-pink); }
.pie-turquoise { stroke: var(--pie-turquoise); }
.pie-lavandar { stroke: var(--pie-lavandar); }
.pie-beige { stroke: var(--pie-beige); }
.pie-posse { stroke: var(--pie-posse); }
.pie-lime { stroke: var(--pie-lime); }

.pie-chart {
	font-size: 1rem;
	width: 24em;
	background: rgb(201, 200, 200);
	border-radius: 50%;
	position: relative;
	border: .85em solid rgb(25, 25, 23);
	transform: rotate(20deg);
	transition: transform 1s cubic-bezier(.52,1.79,.49,.75);
}

.pie-chart #btn_spin {

}
.pie-chart g > circle {
	fill: none;
	stroke: inherit;
	stroke-width: 32;
	transform-origin: 50% 50%;
	position: relative;
}
.pie-chart text { font-family: 'Barlow Condensed', sans-serif; font-size: 4px; transform-origin: 50% 50%; transform: translate(7.6em, -0.25em) rotate(180deg); pointer-events: none; fill: var(--pie-text); stroke: none;  }

.pie-chart g > *:hover { filter: hue-rotate(-0.15turn); cursor: pointer; opacity: .6; }
.pie-chart g { transform-origin: 50% 50%; }
.pie-chart g.one { transform: rotate( 0deg ); stroke: var(--pie-blue); }
.pie-chart g.two { transform: rotate( 40deg ); stroke: var(--pie-beige); }
.pie-chart g.thr { transform: rotate( 80deg ); stroke: var(--pie-lavandar); }
.pie-chart g.fou { transform: rotate( 120deg ); stroke: var(--pie-lime); }
.pie-chart g.fiv { transform: rotate( 160deg ); stroke: var(--pie-pink); }
.pie-chart g.six { transform: rotate( 200deg ); stroke: var(--pie-posse); }
.pie-chart g.sev { transform: rotate( 240deg ); stroke: var(--pie-turquoise); }
.pie-chart g.eig { transform: rotate( 280deg ); stroke: var(--pie-yellow-green); }
.pie-chart g.nin { transform: rotate( 320deg ); stroke: var(--pie-brown); }

#btn_spin {
	display: block;
	background: #444;
	width: 4em;
	height: 4em;
	border-radius: 100%;
}
#btn_label {
	fill: white;
    transform: translate(-0.6em, 0.6em) rotate(-20deg);
    transform-origin: 50% 50%;
}

@keyframes rotate {
to {
	x
} 
}
